.DS_Store
.cache
npm-debug.log
Thumbs.db
node_modules/
.build/
.vscode/extensions/**/out/
extensions/**/dist/
/out*/
/extensions/**/out/
build/node_modules
coverage/
test_data/
test-results/
test-results.xml
vscode.lsif
vscode.db
/.profile-oss
/cli/target
/cli/openssl
product.overrides.json
*.snap.actual
.vscode-test
/.github/
/.vscode/
/.configurations/
/.devcontainer/
/.eslintplugin/
/extensions/microsoft-authentication/
/src/vs/platform/assignment/
/src/vs/platform/telemetry/
/src/vs/platform/update/
/src/vs/workbench/contrib/telemetry/
/src/vs/workbench/contrib/surveys/
/src/vs/workbench/contrib/update/
/src/vs/workbench/contrib/bracketPairColorizer2Telemetry/
/src/vs/workbench/services/assignment/
/src/vs/workbench/services/telemetry/
/src/vs/workbench/services/update/
