name: Windows Build Release
on:
  workflow_dispatch:
    inputs:
      pkg_version:
        description: 'Arbitrary release version'
        required: false
        default: '1.0.0'
      pkg_arch:
        description: 'Target package architecture (x64)'
        required: true
        default: 'x64'
      vs_arch:
        description: 'Target MSVC architecture (x64, etc)'
        required: true
        default: 'x64'
      node_version:
        description: 'Node.js version'
        required: true
        default: '20'
#      build_amd:
#        description: 'Enable Native ECMAScript modules'
#        type: boolean
#        required: true
#        default: false
      patch_resources:
        description: 'Patch Win32 resources after build'
        type: boolean
        required: true
        default: false
jobs:
  build:
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '${{github.event.inputs.node_version}}'
      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
#      - name: Environment
#        if: ${{github.event.inputs.build_amd == 'true'}}
#        run: set VSCODE_BUILD_AMD="true"
      - name: Dependencies
        run: npm install
      - name: Packaging
        run: npm run gulp vscode-win32-${{github.event.inputs.pkg_arch}}-min
      - name: Patch resources
        if: ${{github.event.inputs.patch_resources == 'true'}}
        run: node build\win32-resources-patch ..\VSCode-win32-${{github.event.inputs.pkg_arch}}/VSCodius.exe
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: VSCodius-Win32-${{github.event.inputs.pkg_arch}}-${{github.event.inputs.pkg_version}}-Release
          path: 'D:\a\${{github.event.repository.name}}\VSCode-win32-${{github.event.inputs.pkg_arch}}'
          overwrite: true
          compression-level: 9
          if-no-files-found: error